<p id="notice"><%= notice %></p>

<p>
  <strong>Dr number:</strong>
  <%= @la_crime.dr_number %>
</p>

<p>
  <strong>Date reported:</strong>
  <%= @la_crime.date_reported %>
</p>

<p>
  <strong>Date occurred:</strong>
  <%= @la_crime.date_occurred %>
</p>

<p>
  <strong>Time occurred:</strong>
  <%= @la_crime.time_occurred %>
</p>

<p>
  <strong>Area:</strong>
  <%= @la_crime.area %>
</p>

<p>
  <strong>Area name:</strong>
  <%= @la_crime.area_name %>
</p>

<p>
  <strong>Reporting district:</strong>
  <%= @la_crime.reporting_district %>
</p>

<p>
  <strong>Crime code:</strong>
  <%= @la_crime.crime_code %>
</p>

<p>
  <strong>Crime code description:</strong>
  <%= @la_crime.crime_code_description %>
</p>

<p>
  <strong>Mo codes:</strong>
  <%= @la_crime.mo_codes %>
</p>

<p>
  <strong>Victim age:</strong>
  <%= @la_crime.victim_age %>
</p>

<p>
  <strong>Victim sex:</strong>
  <%= @la_crime.victim_sex %>
</p>

<p>
  <strong>Victim descent:</strong>
  <%= @la_crime.victim_descent %>
</p>

<p>
  <strong>Premise code:</strong>
  <%= @la_crime.premise_code %>
</p>

<p>
  <strong>Premise description:</strong>
  <%= @la_crime.premise_description %>
</p>

<p>
  <strong>Weapon used code:</strong>
  <%= @la_crime.weapon_used_code %>
</p>

<p>
  <strong>Weapon description:</strong>
  <%= @la_crime.weapon_description %>
</p>

<p>
  <strong>Status code:</strong>
  <%= @la_crime.status_code %>
</p>

<p>
  <strong>Status description:</strong>
  <%= @la_crime.status_description %>
</p>

<p>
  <strong>Crime code1:</strong>
  <%= @la_crime.crime_code1 %>
</p>

<p>
  <strong>Crime code2:</strong>
  <%= @la_crime.crime_code2 %>
</p>

<p>
  <strong>Crime code3:</strong>
  <%= @la_crime.crime_code3 %>
</p>

<p>
  <strong>Crime code4:</strong>
  <%= @la_crime.crime_code4 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @la_crime.address %>
</p>

<p>
  <strong>Cross street:</strong>
  <%= @la_crime.cross_street %>
</p>

<p>
  <strong>Location:</strong>
  <%= @la_crime.location %>
</p>

<%= link_to 'Edit', edit_la_crime_path(@la_crime) %> |
<%= link_to 'Back', la_crimes_path %>
