<p id="notice"><%= notice %></p>

<p>
  <strong>Inc id ent:</strong>
  <%= @denver_crime.inc_id_ent_id %>
</p>

<p>
  <strong>Offense:</strong>
  <%= @denver_crime.offense_id %>
</p>

<p>
  <strong>Offensecode:</strong>
  <%= @denver_crime.offensecode %>
</p>

<p>
  <strong>Offensecodeextension:</strong>
  <%= @denver_crime.offensecodeextension %>
</p>

<p>
  <strong>Offensetype:</strong>
  <%= @denver_crime.offensetype_id %>
</p>

<p>
  <strong>Offensecategory:</strong>
  <%= @denver_crime.offensecategory_id %>
</p>

<p>
  <strong>Firstoccurrencedate:</strong>
  <%= @denver_crime.firstoccurrencedate %>
</p>

<p>
  <strong>Lastoccurrencedate:</strong>
  <%= @denver_crime.lastoccurrencedate %>
</p>

<p>
  <strong>Reporteddate:</strong>
  <%= @denver_crime.reporteddate %>
</p>

<p>
  <strong>Inc id entaddress:</strong>
  <%= @denver_crime.inc_id_entaddress %>
</p>

<p>
  <strong>Geox:</strong>
  <%= @denver_crime.geox %>
</p>

<p>
  <strong>Geoy:</strong>
  <%= @denver_crime.geoy %>
</p>

<p>
  <strong>Geolon:</strong>
  <%= @denver_crime.geolon %>
</p>

<p>
  <strong>Geolat:</strong>
  <%= @denver_crime.geolat %>
</p>

<p>
  <strong>District:</strong>
  <%= @denver_crime.district_id %>
</p>

<p>
  <strong>Precinct:</strong>
  <%= @denver_crime.precinct_id %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @denver_crime.neighborhood_id %>
</p>

<p>
  <strong>Iscrime:</strong>
  <%= @denver_crime.iscrime %>
</p>

<p>
  <strong>Istraffic:</strong>
  <%= @denver_crime.istraffic %>
</p>

<%= link_to 'Edit', edit_denver_crime_path(@denver_crime) %> |
<%= link_to 'Back', denver_crimes_path %>
