<p id="notice"><%= notice %></p>

<p>
  <strong>Dc dist:</strong>
  <%= @philly_crime.dc_dist %>
</p>

<p>
  <strong>Psa:</strong>
  <%= @philly_crime.psa %>
</p>

<p>
  <strong>Dispatch date time:</strong>
  <%= @philly_crime.dispatch_date_time %>
</p>

<p>
  <strong>Dispatch date:</strong>
  <%= @philly_crime.dispatch_date %>
</p>

<p>
  <strong>Dispatch time:</strong>
  <%= @philly_crime.dispatch_time %>
</p>

<p>
  <strong>Hour:</strong>
  <%= @philly_crime.hour %>
</p>

<p>
  <strong>Dc key:</strong>
  <%= @philly_crime.dc_key %>
</p>

<p>
  <strong>Location block:</strong>
  <%= @philly_crime.location_block %>
</p>

<p>
  <strong>Ucr general:</strong>
  <%= @philly_crime.ucr_general %>
</p>

<p>
  <strong>Text general code:</strong>
  <%= @philly_crime.text_general_code %>
</p>

<p>
  <strong>Police districts:</strong>
  <%= @philly_crime.police_districts %>
</p>

<p>
  <strong>Month:</strong>
  <%= @philly_crime.month %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @philly_crime.lon %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @philly_crime.lat %>
</p>

<%= link_to 'Edit', edit_philly_crime_path(@philly_crime) %> |
<%= link_to 'Back', philly_crimes_path %>
