<p id="notice"><%= notice %></p>

<p>
  <strong>P key:</strong>
  <%= @chicago2008_crime.p_key %>
</p>

<p>
  <strong>Case number:</strong>
  <%= @chicago2008_crime.case_number %>
</p>

<p>
  <strong>Date:</strong>
  <%= @chicago2008_crime.date %>
</p>

<p>
  <strong>Block:</strong>
  <%= @chicago2008_crime.block %>
</p>

<p>
  <strong>Iucr:</strong>
  <%= @chicago2008_crime.iucr %>
</p>

<p>
  <strong>Primary type:</strong>
  <%= @chicago2008_crime.primary_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @chicago2008_crime.description %>
</p>

<p>
  <strong>Location description:</strong>
  <%= @chicago2008_crime.location_description %>
</p>

<p>
  <strong>Arrest:</strong>
  <%= @chicago2008_crime.arrest %>
</p>

<p>
  <strong>Domestic:</strong>
  <%= @chicago2008_crime.domestic %>
</p>

<p>
  <strong>Beat:</strong>
  <%= @chicago2008_crime.beat %>
</p>

<p>
  <strong>District:</strong>
  <%= @chicago2008_crime.district %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @chicago2008_crime.ward %>
</p>

<p>
  <strong>Community area:</strong>
  <%= @chicago2008_crime.community_area %>
</p>

<p>
  <strong>Fbi code:</strong>
  <%= @chicago2008_crime.fbi_code %>
</p>

<p>
  <strong>X coordinate:</strong>
  <%= @chicago2008_crime.x_coordinate %>
</p>

<p>
  <strong>Y coordinate:</strong>
  <%= @chicago2008_crime.y_coordinate %>
</p>

<p>
  <strong>Year:</strong>
  <%= @chicago2008_crime.year %>
</p>

<p>
  <strong>Updated on:</strong>
  <%= @chicago2008_crime.updated_on %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @chicago2008_crime.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @chicago2008_crime.longitude %>
</p>

<p>
  <strong>Location:</strong>
  <%= @chicago2008_crime.location %>
</p>

<%= link_to 'Edit', edit_chicago2008_crime_path(@chicago2008_crime) %> |
<%= link_to 'Back', chicago2008_crimes_path %>
