<p id="notice"><%= notice %></p>

<h1>Lat Crimes</h1>

<table>
  <thead>
    <tr>
      <th>Dr number</th>
      <th>Date reported</th>
      <th>Date occurred</th>
      <th>Time occurred</th>
      <th>Area</th>
      <th>Area name</th>
      <th>Reporting district</th>
      <th>Crime code</th>
      <th>Crime code description</th>
      <th>Mo codes</th>
      <th>Victim age</th>
      <th>Victim sex</th>
      <th>Victim descent</th>
      <th>Premise code</th>
      <th>Premise description</th>
      <th>Weapon used code</th>
      <th>Weapon description</th>
      <th>Status code</th>
      <th>Status description</th>
      <th>Crime code1</th>
      <th>Crime code2</th>
      <th>Crime code3</th>
      <th>Crime code4</th>
      <th>Address</th>
      <th>Cross street</th>
      <th>Lat</th>
      <th>Lon</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lat_crimes.each do |lat_crime| %>
      <tr>
        <td><%= lat_crime.dr_number %></td>
        <td><%= lat_crime.date_reported %></td>
        <td><%= lat_crime.date_occurred %></td>
        <td><%= lat_crime.time_occurred %></td>
        <td><%= lat_crime.area_id %></td>
        <td><%= lat_crime.area_name %></td>
        <td><%= lat_crime.reporting_district %></td>
        <td><%= lat_crime.crime_code %></td>
        <td><%= lat_crime.crime_code_description %></td>
        <td><%= lat_crime.mo_codes %></td>
        <td><%= lat_crime.victim_age %></td>
        <td><%= lat_crime.victim_sex %></td>
        <td><%= lat_crime.victim_descent %></td>
        <td><%= lat_crime.premise_code %></td>
        <td><%= lat_crime.premise_description %></td>
        <td><%= lat_crime.weapon_used_code %></td>
        <td><%= lat_crime.weapon_description %></td>
        <td><%= lat_crime.status_code %></td>
        <td><%= lat_crime.status_description %></td>
        <td><%= lat_crime.crime_code1 %></td>
        <td><%= lat_crime.crime_code2 %></td>
        <td><%= lat_crime.crime_code3 %></td>
        <td><%= lat_crime.crime_code4 %></td>
        <td><%= lat_crime.address %></td>
        <td><%= lat_crime.cross_street %></td>
        <td><%= lat_crime.lat %></td>
        <td><%= lat_crime.lon %></td>
        <td><%= link_to 'Show', lat_crime %></td>
        <td><%= link_to 'Edit', edit_lat_crime_path(lat_crime) %></td>
        <td><%= link_to 'Destroy', lat_crime, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= will_paginate @lat_crimes %>

<%= link_to 'New Lat Crime', new_lat_crime_path %>
