<p id="notice"><%= notice %></p>

<p>
  <strong>Dr number:</strong>
  <%= @lat_crime.dr_number %>
</p>

<p>
  <strong>Date reported:</strong>
  <%= @lat_crime.date_reported %>
</p>

<p>
  <strong>Date occurred:</strong>
  <%= @lat_crime.date_occurred %>
</p>

<p>
  <strong>Time occurred:</strong>
  <%= @lat_crime.time_occurred %>
</p>

<p>
  <strong>Area:</strong>
  <%= @lat_crime.area_id %>
</p>

<p>
  <strong>Area name:</strong>
  <%= @lat_crime.area_name %>
</p>

<p>
  <strong>Reporting district:</strong>
  <%= @lat_crime.reporting_district %>
</p>

<p>
  <strong>Crime code:</strong>
  <%= @lat_crime.crime_code %>
</p>

<p>
  <strong>Crime code description:</strong>
  <%= @lat_crime.crime_code_description %>
</p>

<p>
  <strong>Mo codes:</strong>
  <%= @lat_crime.mo_codes %>
</p>

<p>
  <strong>Victim age:</strong>
  <%= @lat_crime.victim_age %>
</p>

<p>
  <strong>Victim sex:</strong>
  <%= @lat_crime.victim_sex %>
</p>

<p>
  <strong>Victim descent:</strong>
  <%= @lat_crime.victim_descent %>
</p>

<p>
  <strong>Premise code:</strong>
  <%= @lat_crime.premise_code %>
</p>

<p>
  <strong>Premise description:</strong>
  <%= @lat_crime.premise_description %>
</p>

<p>
  <strong>Weapon used code:</strong>
  <%= @lat_crime.weapon_used_code %>
</p>

<p>
  <strong>Weapon description:</strong>
  <%= @lat_crime.weapon_description %>
</p>

<p>
  <strong>Status code:</strong>
  <%= @lat_crime.status_code %>
</p>

<p>
  <strong>Status description:</strong>
  <%= @lat_crime.status_description %>
</p>

<p>
  <strong>Crime code1:</strong>
  <%= @lat_crime.crime_code1 %>
</p>

<p>
  <strong>Crime code2:</strong>
  <%= @lat_crime.crime_code2 %>
</p>

<p>
  <strong>Crime code3:</strong>
  <%= @lat_crime.crime_code3 %>
</p>

<p>
  <strong>Crime code4:</strong>
  <%= @lat_crime.crime_code4 %>
</p>

<p>
  <strong>Address:</strong>
  <%= @lat_crime.address %>
</p>

<p>
  <strong>Cross street:</strong>
  <%= @lat_crime.cross_street %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @lat_crime.lat %>
</p>

<p>
  <strong>Lon:</strong>
  <%= @lat_crime.lon %>
</p>
<%= link_to 'Edit', edit_lat_crime_path(@lat_crime) %> |
<%= link_to 'Back', lat_crimes_path %>
